@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* Variables */
:root {
  --font-size:1rem;
}
.light {
  --navbar-color: #222;
  --navbar-bg-color: #F0F0F0;  
}
.dark {
  --navbar-color: #FFF;
  --navbar-bg-color: #000;  
}

/* Reset */
* {
  box-sizing:border-box; 
  outline:none;
  margin:0;
  padding:0;
}
ul {
  list-style:none;
}

/* Basic style */
body {
  margin:0;
  font-size:var(--font-size);
  font-family: 'Poppins', sans-serif;
}
.main-content {
  padding:1rem;
  background: var(--navbar-bg-color) ;
  height: 800px;
}

h1{
  color: var(--navbar-color) ;
}
/* Navbar */
.navbar {  
  display:flex;
  align-items:center; 
  justify-content:space-between;   
  padding:10px;
  font-size:1.1rem;
  background:var(--navbar-bg-color);
  color:var(--navbar-color);
}
.navbar_links { 
  display:flex;  
}
.navbar_link { 
  padding:0 10px;
}
.navbar_link > a { 
  color:var(--navbar-color);
  text-decoration:none;
}
.burger {
  display:none;
}


.ck_label{

  display:inline-block;
  width: 50px;
  height: 20px;
  cursor: pointer;
  position: relative;
  }
  /* Cacher le bouton checkbox */
  .btn_chb{
  display:none;
  }
  /* mettre tous les éléments "span" frères du bouton checkbox en inline-block
  pour pouvoir les aligner et changer leurs dimensions */
  .btn_chb~span{
  display: inline-block;
  width: 50px;
  height: 20px;
  color:white;
  border-radius: 20px;
  vertical-align: middle;
  opacity: 0.7;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: bold;

  /* positionner tous les span par rapport à leurs parent "label" */
  position: absolute;
  top:0;
  left:0;
  }

  /* Style initial du span Non*/
  #snon{
  background: #e74c3c;
  text-align: right;
  padding-right:5px;
  transition: opacity 1s;
  }
  /* Style initial du span "OUI", avec "opacity=0" pour le rendre invisible*/
  #soui{
  background: #2ecc71;
  text-align: left;
  padding-left:5px;
  opacity: 0;
  transition : opacity 1s;
  }

  /* style du petit span rond */
  #round{
  width: 20px;
  height: 20px;
  top:auto;
  border-radius: 100px;
  background:white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  opacity: 1;
  transition: left 1s;
  }

  /* Checked */
  .btn_chb:checked~#snon{
      opacity:0 ;
      transition: opacity 1s ;
  }
  .btn_chb:checked~#soui{

      opacity:1;
}

  .btn_chb:checked~#round{
left: 65%;

}

.switch {

  display: flex;
  flex-direction: row;
 
}

p#dark-mode {
  margin-right : 20px;
}

p#light-mode {
  margin-left : 20px;
}

/*  Small device */
@media screen and (max-width:767.98px) {
  .navbar_links { 
    overflow:hidden;
    display:flex;
    flex-direction:column;
    width:0;
    height:calc(100vh - 65px);  
    position:absolute;
    top:65px;
    right:0;     
    background:var(--navbar-bg-color);     
    transform: translateX(110%);
    transition: all .5s ease-in-out;
  }
  .show-nav .navbar_links { 
    
    width:100vw;    
    transform: translateX(0);
  } 
  .navbar_link {    
    transform: translateX(101%);
    transition: all .5s ease-in-out;
  }
  
  .show-nav .navbar_link  {        
    transform: translateX(0);    
  }   
  .navbar_link > a {
    display:block;
    padding:1rem;
    font-size:1.6rem;
    color:var(--navbar-color);  
    transition: all .4s ease-in-out;
  }
  .navbar_link > a:hover {
    padding-left:2rem;
    letter-spacing:5px;
  }
  
  /* Toggle menu */
  .burger {
    display:block;
    position:relative;
    padding:0;
    width:45px;
    height:45px;
    border:none;
    background:transparent;
    cursor:pointer;
  }
  .bar {
    display:block;    
    width:45px;
    height:4px;  
    border-radius:3px;
    background:var(--navbar-color); 
    transition: all .5s ease-in-out;   
  }
  .bar::before, .bar::after {
    content:"";
    width:45px;
    height:4px;
    position:absolute; 
    left:0;  
    background:var(--navbar-color); 
    border-radius:3px;    
    transition: all .5s ease-in-out;
  }
  .bar::before {
    transform:translateY(-12px)
  }
  .bar::after {
    transform:translateY(12px)
  }
  .show-nav .bar {
    width:0;
    background:transparent;    
  }
  .show-nav .bar::before {
    transform:rotate(45deg);
  }
  .show-nav .bar::after {
    transform:rotate(-45deg);
  }
  
  /* Bonus - Animations */
  .show-nav .first {      
    transition: all 1s ease-out;
  } 
  .show-nav .second {      
    transition: all 1.1s ease-out;
  } 
  .show-nav .third {      
    transition: all 1.2s ease-out;
  } 
  .show-nav .four {      
    transition: all 1.3s ease-out;
  } 
  .show-nav .fifth {      
    transition: all 1.4s ease-out;
  }
}

/*  Medium device - Bonus */
@media screen and (min-width:768px) {
  .navbar_link > a::after {
    display:block;
    content:"";
    width:0;
    height:1px;
    background:var(--navbar-color);
    transition:width .4s;
  }
  .navbar_link:hover > a::after {
    width:100%;
  }
}

